*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#base-main{
    background-color: pink;
    width: 1005;
    border-radius: 15px;
}
#header{
    height: 46px;
    background-color: black;
    border-radius: 15px;
}
#icon{
    position: relative;
    left: 72%;
    color: white;
    font-size: 24px;
    line-height: 46px
}
#header a:hover{
    background-color: palevioletred;
    border-radius: 15px;
}
#header li{
    position: relative;
    list-style-type: none;
    float: left;
    line-height: 46px
    
}
#header li a{
    font-size: 30px;
    text-decoration: none;
    color: white;
    padding: 0 24px;
    display: block;
}
#picture img{
    width: 360px;
    height: auto;
    border-radius: 15px;
}
#text{
    position: relative;
    bottom: 550px;
    left: 600px;
    width: 550px;
    line-height: 30px;
    display: inline-block;
    background-color: plum;
    border-radius: 15px;
}
#text h1{
    color: rgb(46, 70, 0);
    
}
#footer img{
    position: relative;
    left: 360px;
    bottom: 490px;
    width: 1220px;
    height: auto;
}
